<div class="init">
  <% if @current_user %>
  <% else %>
    <h1>好きな曲をお気に入り登録して<br class="iPad">自分だけのリストを<br class="iPhone">作成しましょう</h1>
    <div class="app-describe">
      <p>まずは検索ボックスに<br class="iPhone">あなたの好きなアーティスト名や<br class="iPhone">曲名を入力しましょう。</p>
      <br class="iPhone">
      <p>ログインすることで<br class="iPhone">楽曲のお気に入り登録ができ、<br class="iPad">あなただけのリストを<br class="iPhone">作成することができます。</p>
      <br>
      <p>曲の試聴も可能です</p>
    </div>
  <% end %>
</div>
