<div class="init">
  <% if @current_user %>
  <% else %>
    <h1>好きな曲をお気に入り登録して、自分だけのリストを作成しましょう</h1>
    <div class="app-describe">
      <p>まずは検索ボックスにあなたの好きなアーティスト名や曲名を入力しましょう。</p>
      <p>ログインすることで楽曲のお気に入り登録ができ、あなただけのリストを作成することができます。</p>
      <p>曲の試聴も可能です</p>
    </div>
  <% end %>
</div>
