<% @pages.each do |track| %>
  <div class="search-list">
    <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/jp/album/%E7%82%8E/<%= track['collectionId'] %>?i=<%= track['trackId'] %>"></iframe>
    <div class="func_favo_button">
      <%= link_to("お気に入り","/search/#{track["trackId"]}/#{track["collectionId"]}/#{track["artistName"]}/#{track["collectionName"]}/#{track["trackName"]}",{method:"post",class:"favo_button"}) %>
    </div>
  </div>
<% end %>
<div class="pagenate">
  <%= paginate @pages %>
</div>
